/* Importamos fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:host {
  --bg-dark: #121212;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Fondo oscuro base */
  color: #e0e0e0;
  min-height: 100vh;
}

/* QUITAMOS LA RESTRICCIÓN DE ANCHO AQUÍ */
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;  <-- Quitamos esto para que no centre forzosamente */
}

.custom-content-wrapper {
  width: 100%;
  /* max-width: 700px;  <--- ESTO ERA EL PROBLEMA, LO QUITAMOS */
  padding: 0;
  margin: 0;
}